# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
libs/meteor-client.jar
libs/orbit-0.2.4.jar
libs/meteor-client.jar
libs/orbit-0.2.4.jar
libs/*.jar
libs/
